/********** MENU *********/
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
.logo img {
  width: 150px;
  /* height: 50px; */

  background-color: rgb(234, 80, 69);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #233249;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

nav {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  margin-right: 20px;
  position: relative; /* For at den faller ned */
}

.menu li:last-child {
  margin-right: 0;
}

.menu a {
  display: block;
  padding: 10px;
  color: white;
  text-decoration: none;
  transition: color 0.3s;
  text-align: end;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
}

.menu a:hover {
  color: rgb(234, 80, 69);
}

.dropdown-content a {
  padding: 10px;
  color: white;
  text-align: right;
  font-family: Arial, Helvetica, sans-serif;
}

.burger {
  width: 30px;
  height: 20px;
  cursor: pointer;
}

.burger .line {
  width: 100%;
  height: 2px;
  background-color: #233249;
  margin-bottom: 5px;
  transition: 0.2s linear;
}

.burger {
  display: none;
}

@media screen and (max-width: 800px) {
  .menu {
    display: none;
    position: relative; /* For dropdown */
  }
  .menu a {
    display: block;
    padding: 10px;
    color: white;
    text-decoration: none;
    transition: color 0.3s;
    text-align: end;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
  }
  .burger {
    display: block;
  }
  .burger.active .line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
    transition: 0.2s linear;
  }

  .burger.active .line:nth-child(2) {
    opacity: 0;
    transition: 0.15s linear;
  }

  .burger.active .line:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
    transition: 0.2s linear;
  }

  nav.active .menu {
    display: block;
    background-color: #233249;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    z-index: 1;
  }

  nav.active .menu li {
    margin: 10px 20px;
  }

  nav.active .menu a {
    font-size: 24px;
  }

  .dropdown-content {
    position: static;
    box-shadow: none;
    list-style-type: none;
  }
  .dropdown-content a:hover {
    color: rgb(0, 0, 0);
  }
}
/********** MENU SLUTT **********/

/********** Footer *********/
.footer {
  font-size: 0.9em;
  background-color: #233249;
  font-size: 0.9em;
  color: #fff;
}

.footer .container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.row-flex {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.col-xs-12 {
  flex: 1 1 100%;
}

.col-sm-6 {
  flex: 1 1 calc(50% - 20px);
}

.col-md-3 {
  flex: 1 1 calc(25% - 20px);
}

@media (max-width: 750px) {
  .col-sm-6 {
    flex: 1 1 100%;
  }
}

@media (max-width: 750px) {
  .col-xs-12 {
    flex: 1 1 100%;
  }
}

.moduletable {
  padding: 20px;
  border-radius: 5px;
}
.moduletable a {
  text-decoration: none;
  color: #ffffff;
  text-align: center;
}
.moduletable a:hover {
  color: rgb(234, 80, 69);
}
