* {
  box-sizing: border-box;
  list-style-type: none;
}
img {
  width: 100%;
  height: auto;

  /* padding-bottom: 3rem;
  padding-top: 0.2rem; */
}

body {
  background-color: #ffffff;
}
p {
  color: #ffffff;
}
h2 {
  color: #ffffff;
}
h3 {
  color: rgb(234, 80, 69);
}
h4 {
  font-size: 1.3rem;
  color: rgb(234, 80, 69);
}
h5 {
  font-size: 1rem;
  color: #233249;
}
h6 {
  color: #ffffff;
  font-size: 1rem;
}
.overskrift {
  /* text-align: center; */
  padding-left: 1rem;
  font-size: 3.5rem;
  font-family: Arial, Helvetica, sans-serif;
  color: #233249;
}
/*desktop versjon*/
@media (min-width: 750px) {
}
/*mobilversjon*/
@media (max-width: 750px) {
}

.category-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  list-style-type: none;
  padding: 0;
}

.category-list li {
  background-color: rgb(255, 255, 255);
  text-align: center;
  padding: 8px;
}

.category-list li a {
  text-decoration: none;
  color: #233249;
  font-weight: bold;
  font-size: 1.5rem;
  color: #ffffff;
}
.category-list a:hover {
  color: #233249;
}
.kategori_h2 {
  background-color: rgb(234, 80, 69);
  font-size: 1.8rem;
}
.kategori_h2:hover {
  color: #233249;
}
@media (max-width: 750px) {
  .category-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 750px) {
  .category-list {
    grid-template-columns: 1fr;
  }
}

.info {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  margin: 5rem;
}

.info div {
  flex: 1;
  padding: 20px;
  background-color: #233249;
  /* border-radius: 5px; */
  border: rgb(240, 78, 152);
}

.info h2 {
  margin-top: 0;
}

/* @media (max-width: 750px) {
  .info {
    flex-direction: column;
  } */
/*mobilversjon*/
@media (max-width: 750px) {
  .kontakt_info {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    margin-bottom: 1rem;
  }
  .bilde1,
  .bilde2,
  .bilde3 {
    width: 50%;
    border-radius: 100%;
    justify-content: center;
  }

  .kontakt_2 {
    padding-top: 1rem;
  }
  .kontakt_3 {
    padding-top: 1rem;
  }
}
/*desktop versjon*/
@media (min-width: 750px) {
  .kontakt_info {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    margin-bottom: 1rem;
  }
  .bilde1,
  .bilde2,
  .bilde3 {
    width: 50%;
    border-radius: 100%;
    justify-content: center;
  }
}
.kontakt_1 {
  text-align: center;
}
.kontakt_2 {
  text-align: center;
}
.kontakt_3 {
  text-align: center;
}
.kontakt_1 a,
.kontakt_2 a,
.kontakt_3 a {
  text-decoration: none;
  color: #233249;
}
.kontakt_1 a:hover {
  color: rgb(240, 78, 152);
}
.kontakt_2 a:hover {
  color: rgb(240, 78, 152);
}
.kontakt_3 a:hover {
  color: rgb(240, 78, 152);
}
.footer {
  font-size: 0.9em;
  background-color: #233249;
  font-size: 0.9em;
  color: #fff;
}

.footer .container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.row-flex {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.col-xs-12 {
  flex: 1 1 100%;
}

.col-sm-6 {
  flex: 1 1 calc(50% - 20px);
}

.col-md-3 {
  flex: 1 1 calc(25% - 20px);
}

@media (max-width: 750px) {
  .col-sm-6 {
    flex: 1 1 100%;
  }
}

@media (max-width: 750px) {
  .col-xs-12 {
    flex: 1 1 100%;
  }
}

.moduletable {
  padding: 20px;
  border-radius: 5px;
}
.moduletable a {
  text-decoration: none;
  color: #ffffff;
  text-align: center;
}
